{# --- UNIDAD 11 - CODE --- #}
{# Template Hijo - Página de Cursos - Herencia de Templates #}

{% extends "user/base.html" %}

{% block title %}App Baquedano{% endblock %}

{% block content %}
<div class="container">
 <div class="page-header my-4">
    <h1 class="page-header__title" style="color: #333; border-left: 5px solid #CC0000; padding-left: 15px; font-weight: 700;">
        Stock Ropa de Trabajo
    </h1>

   <div class="d-flex mt-4" style="gap: 50px;"> <a href="{% url 'RopaTrabajoFormulario' %}" class="btn"-baquedano-rojo">
        <i class="bi bi-plus-circle"></i> Agregar Artículo
    </a>

    <a href="{% url 'buscarRopaTrabajo' %}" class="btn">
        <i class="bi bi-search"></i> Buscar Ropa
    </a>
</div>
</div>
  <div class="card">
    <h2 class="card__title">Aqui se muestran todo el stock de ropa de trabajo</h2>
    <p class="card__body">
    </p>
    <ul class="card__list">
      {% for ropa in ropaTrabajo %}
      <li class="card__list-item">
        <strong>{{ ropa.nombre }}</strong> - Talle: {{ ropa.talle }} - Precio: {{ ropa.precio }}
      </li>
      {% empty %}
      <li class="card__list-item">No hay cursos disponibles.</li>
      {% endfor %}
    <div class="card__footer">

      
    </div>
  </div>
</div>
{% endblock %}




